<%- include('../partials/header') %>

<body>
    <div>
        <h1>Appointments Calendar</h1>
        <table>
            <thead class="bg-gray-100">
                <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Description</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <% appointments.forEach(appointment => { %>
                    <tr>
                        <td><%= appointment.appointmentDate.toLocaleDateString() %></td>
                        <td><%= appointment.appointmentTime %></td>
                        <td><%= appointment.serviceType %></td>
                        <td><%= appointment.status === 'Completed' ? 'text-green-500' : 'text-red-500' %>">
                            <%= appointment.status %>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</body>

<%- include('../partials/footer') %>